.header{
    background: #1F2937 !important;
    display: block;
    padding: 30px;
}
.main{
    background: white;
    display: block;

}
.quote{
    background: #e5e7eb;
    display:block;
    padding: 23px;
}
.quoted{
    font-weight: 300; /*light*/
    font-style: italic;
    text-align: center;
}
.sign{
    background: white;
    display:block;
   
}
.footer{
    background: #1F2937 !important;
    display: block;
    padding: 8px;
    text-align: center;
    color: #ffff;
}
