.header{
    background: #1F2937 !important;
    display: block;
    padding: 30px;
}
.main{
    background: white;
    display: block;
    border: 23px;
}
.quote{
    background: #e5e7eb;
    display:block;
    border: 23px;
}
.sign{
    background: white;
    display:block;
    border: 23px;
}
.footer{
    background: #1F2937 !important;
    display: block;
    padding: 8px;
}
