.head{
    background: #1F2937;
}
.logo{
    font-size: 24px #F9FAF8;
}

.title{
    font-size: 48px extra-bold #F9FAF8;
}
.links{
    font-size: 18px #E5E7EB;
}
.title p{
    font-size: 18px #E5E7EB;
}
.button{
    background: #3882F6;
}
